
* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

*, :after, :before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #101715;
	overflow: hidden;
}

body, html {
	height: 100%;
	margin: 0;
}

.ui-resizable-handle {
	position: absolute;
	display: block;
	touch-action: none;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 10px;
	height: 10px;
	right: 5px;
	bottom: 5px;
}

.ui-icon {
    background: linear-gradient(to bottom right, transparent 50%, #f1f1f1 50%);
}

.room.ie {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transform: scale(1);
	transition: transform 1s ease;
	z-index: 1;
	outline: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.room.ie.zoom-out {
	transform: scale(.95);
	pointer-events: none;
}

.room.ie.zoom-out .room-gif {
	border-bottom: 0;
}

.room.ie .room-gif {
	width: 100%;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	outline: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-bottom: .1px solid #0b120d;
	padding: 20%;
}

@media (max-width:1100px) {
	.room.ie .room-gif {
		padding: 10%;
	}
}

.room.ie .room-gif.overflow {
	width: auto;
	height: 100%;
}

.room.ie .monitor-svg {
	display: none;
}

.monitor-svg, .room-gif {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5%;
	-webkit-filter: blur(0);
	filter: blur(0);
	transform: scale(1) translateZ(1px);
	transition: all 1s ease;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(1px);
	transform: perspective(999px) translateZ(1px);
	z-index: -1;
	image-rendering: pixelated;
}

.room:not(.ie).zoom-out .monitor-svg,.room:not(.ie).zoom-out .room-gif {
	-webkit-filter: blur(2px);
	filter: blur(2px);
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: perspective(999px) scale(.95) translateZ(1px);
	transform: perspective(999px) scale(.95) translateZ(1px);
}

.room:not(.ie) .monitor-svg {
	z-index: 0;
}

.room:not(.ie) .monitor {
	cursor: pointer;
}

.room:not(.ie) .monitor rect {
	fill: transparent;
}

.screenGrid {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url(../assets/images/grid.png) repeat;
	z-index: 3;
	pointer-events: none;
	display: none;
}

.desktop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	padding: 35px;
	transform: scale(1.5);
	transition: all 1s ease;
	pointer-events: none;
	display: none;
}

@media (max-width:1100px) {
	.desktop {
		padding: 15px;
	}
}

.desktop .noise {
	position: absolute;
	height: calc(100% - 70px);
	width: calc(100% - 70px);
	top: 35px;
	left: 35px;
	opacity: .015;
	display: none;
	background-image: url(../assets/animations/noise.gif);
	z-index: 5;
	pointer-events: none;
}

.desktop .monitor-edges {
	-webkit-filter: brightness(90%) contrast(90%) blur(2px) grayscale(10%);
	filter: brightness(90%) contrast(90%) blur(2px) grayscale(10%);
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 3;
	border: 35px #141414 solid;
}

@media (max-width:1100px) {
	.desktop .monitor-edges {
		border: 15px #141414 solid;
	}

	.desktop .noise {
		height: calc(100% - 30px);
		width: calc(100% - 30px);
		top: 15px;
		left: 15px;
	}
}

.desktop.zoom {
	transform: scale(1);
	pointer-events: all;
	-moz-box-shadow: inset 0 0 1000px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 0 1000px rgba(0,0,0,.5);
}

.desktop .apps {
	display: none;
	position: absolute;
	height: calc(100% - 80px);
	width: 80px;
	top: 40px;
	left: 40px;
}

@media (max-width:1100px) {
	.desktop .apps {
		height: calc(100% - 40px);
		top: 20px;
		left: 20px;
	}
}

.desktop .apps a {
	text-decoration: none;
}

.desktop .apps .app-icon {
	display: inline-block;
}

.desktop .apps .app-icon i {
	width: 50px;
	height: 50px;
	float: none;
	clear: both;
	display: block;
	margin: 15px;
	margin-right: 0;
	border-radius: 4px;
	color: rgba(255,255,255,.5);
	background-color: rgba(255,255,255,.1);
	transition: background-color .5s ease,color .5s ease;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop .apps .app-icon i:hover {
	color: #dae3e1;
}

.desktop .apps .app-icon span {
	font-size: .7rem;
	display: block;
	text-align: center;
	margin-top: -10px;
	font-weight: 700;
	color: #f1f1f1;
	width: 60px;
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: -5px;
}

@media (max-height:370px) {
	.desktop .apps .app-icon i {
		font-size: 1.5rem;
		width: 35px;
		height: 35px;
	}

	.desktop .apps .app-icon span {
		width: 40px;
	}
}

.desktop .info {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 50px;
	text-align: right;
	color: #f1f1f1;
	height: 50px;
	font-size: .75rem;
	background-color: rgba(255,255,255,.1);
	border-radius: 4px;
	padding: 30px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-height:370px) {
	.desktop .info {
		padding: 15px 5px;
	}
}

@media (max-width:1100px) {
	.desktop .info {
		right: 35px;
		bottom: 35px;
	}
}

.desktop .info .time {
	margin-bottom: 5px;
}

.desktop .info .info-icon {
	margin-left: 10px;
	transition: color .5s ease;
	color: #f1f1f1;
	padding: 6px;
	border-radius: 4px;
	background-color: rgba(255,255,255,.1);
	cursor: pointer;
}

.desktop .info .info-icon.shutdown:hover {
	color: #de5145;
}

.desktop .explorer-window {
	position: absolute;
	top: 35px;
	left: 35px;
	width: calc(100% - 70px);
	height: calc(100% - 70px);
	transform: scale(.8);
	transition: transform .5s ease;
	outline: 0;
	display: none;
}

@media (max-width:1100px) {
	.desktop .explorer-window {
		top: 15px;
		left: 15px;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
	}
}

.desktop .explorer-window .window-header {
	height: 31px;
	background-color: #3a3a3a;
	width: 100%;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: move;
}

.desktop .explorer-window .window-header .window-title {
	color: #fff;
	float: left;
	padding: 8px 10px;
	text-transform: uppercase;
	font-size: .7rem;
	font-weight: 700;
}

.desktop .explorer-window .window-header .button-wrap {
	height: 31px;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	transition: background-color .5s ease;
}

.desktop .explorer-window .window-header .button-wrap i {
	transition: color .5s ease;
}

.desktop .explorer-window .window-header .button-wrap:hover {
	background-color: rgba(0,0,0,.25);
	cursor: pointer;
}

.desktop .explorer-window .window-header .button-wrap:hover .fa-times {
	color: #de5145;
}

.desktop .explorer-window .window-body {
	width: 100%;
	height: calc(100% - 30px);
	background-color: #000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #141414;
	border-top: 0;
	overflow-y: auto;
	overflow-x: hidden;
	color: #f1f1f1; 
	display: flex; 
	justify-content: center; 
	width: 100%;
	padding: 10px;
	font-size: .7rem;
}
.window-body::-webkit-scrollbar {
    display: none;
}