.detail_container {
  margin: 0;
  position: relative;
  transition: all 0.2s;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.detail {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid white;
}

.detail .detail_content {
  width: 100%;
}

.detail .detail_content h3 {
  margin: 0;
  font-size: var(--h3-font);
}

.detail .detail_content small {
  margin-bottom: 13px;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  font-family: "air-semibold";
  color: #bebebe;
  text-transform: uppercase;
}

.detail .detail_content p {
  font-size: var(--small-font);
  line-height: 2;
  letter-spacing: 0.03rem;
  color: #777778;
  font-family: "air-light";
  font-weight: 600;
  margin: 1rem 0 0 0;
}

.detail .detail_content ul {
  font-size: var(--small-font);
  line-height: 2;
  letter-spacing: 0.03rem;
  color: #777778;
  font-family: "air-light";
  font-weight: 600;
  margin: 1rem 0 0 1.25rem;
  padding-left: 1rem;
  list-style-type: disc;
}

.detail a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 993px) {
  .pages_section .detail:first-of-type {
    padding: 0 0 2.5rem 0;
  }
}