.details .pages_section {
  display: flex;
  flex-wrap: wrap;
  row-gap: .6rem;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 993px) {
  .detail {
    padding: 5% 0 !important;
  }
}