.pages_section .title {
  color: #777778;
  font-family: air-semibold;
  font-size: var(--small-font);
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin: 1.6rem 0 1rem 0;
}

.card_container {
  background-color: #1b1b1d;
  margin: 0;
  position: relative;
  transition: all 0.2s;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  flex-grow: 1;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.card_truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.card .card_content {
  width: 100%;
  overflow: hidden;
}

.card .card_content h3 {
  margin: 0;
  font-size: var(--h3-font);
  white-space: nowrap;
  display: block;
}

.card .card_content small {
  margin-bottom: 13px;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  font-family: "air-semibold";
  color: #bebebe;
  text-transform: uppercase;
  white-space: nowrap;
  display: block;
}

.card .card_content p {
  font-size: var(--small-font);
  line-height: 2;
  letter-spacing: 0.03rem;
  color: #777778;
  font-family: "air-light";
  font-weight: 600;
  margin: 1rem 0 0 0;
}

@media (min-width: 993px) {
  .pages_section:first-of-type .title {
    margin: 0 0 1rem 0;
  }

  .card_container_full {
    width: 100%;
  }

  .card_container_full .card {
    padding: 2.5rem;
  }

  .card_container_pad {
    transform: translateY(1.5rem);
  }

  .card_container:hover {
    transform: scale(1.1);
    opacity: 1 !important;
  }

  .card_container_pad:hover {
    transform: translateY(1rem) scale(1.1);
  }

  .pages_section:hover .card_container {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .pages_section:hover .card_container:hover {
    opacity: 1;
    transform: scale(1.1);
    z-index: 1;
  }
}

@media (max-width: 993px) {
  .pages_section .title {
    color: #777778;
    font-family: air-semibold;
    font-size: var(--small-font);
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }

  .pages_section:not(:first-of-type) .title {
    margin: 1.6rem 0 1rem 0;
  }

  .card_container {
    width: 100%;
    margin-bottom: 10px;
  }

  .card_container:last-child {
    margin-bottom: 0px;
  }

  .card .card_content p {
    height: auto;
  }
}