.experience .pages_section {
  display: flex;
  flex-wrap: wrap;
  row-gap: .6rem;
  width: 100%;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience > .pages_section > .box_container > .box .box_details p {
  height: auto !important;
}

@media (max-width: 993px) {
  .experience {
    margin: 20px 0px;
  }
}