.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience .portfolio_showcase {
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 993px) {
  .experience {
    margin: 20px 0px;
  }
}