.projects .pages_section {
  -webkit-column-gap: .6rem;
  column-gap: .6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: .6rem;
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 993px) {
  .projects {
    margin: 20px 0 0 0;
  }

  .projects .pages_section {
    display: flex;
    flex-wrap: wrap;
  }
}