.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects .portfolio_showcase {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 993px) {
  .projects {
    margin: 20px 0px;
  }
}